@import url('https://fonts.googleapis.com/css2?family=Kalam&family=Montserrat+Alternates:wght@300;400&family=PT+Sans&family=Rubik:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'PT Sans', sans-serif;
    text-transform: capitalize;
}

html {
    font-size: 62.5%; /* it means now 1rem = 10px*/
}

/*common style*/
.about-title, .services-title, .contact-title, .project-title {
    position: relative;
}

.title::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 180px;
    height: 3px;
    background: #111;
    transform: translateX(-50%);
}

.title::after {
    position: absolute;
    bottom: -8px;
    left: 50%;
    font-size: 20px;
    color: crimson;
    padding: 0 5px;
    background: #fff;
    transform: translateX(-50%);
}

.hero-text {
    text-transform: capitalize;
}

.left-hero .main-heading {
    font-size: 3.5rem;
    font-family: 'Ubuntu', sans-serif;
}

.left-hero .sub-heading {
    font-size: 6.5rem;
    font-weight: 600;
    font-family: 'Ubuntu', sans-serif;

}

.left-hero .sub-text {
    font-size: 3rem;
    font-family: 'Montserrat+Alternates', sans-serif;
}

.hero-btn {
    padding: 0.8rem 2rem;
    border-radius: 1rem;
    border: none;
    font-size: 1.4rem;
    background-color: indianred;
    transition: all 200ms ease-in;
    font-weight: bold;
}

.hero-btn:hover {
    color: #d53369;
    background-color: white;
    border: 1.5px solid #d53369;
}

/*navbar style*/
.navbar a {
    color: #000;
    font-size: 2rem;

    font-weight: bold;
    transition: all 0.2s ease-in;
}

.navbar a:hover {
    color: crimson;
}

#nav-btn:focus {
    box-shadow: none;
}

.navbar .navbar-toggler-icon {
    width: 3rem;
    height: auto;
}

.houseimg {
    width: 35vw;
    animation: floating 2s ease-in-out;
}

.main-logo {
    font-size: 3rem;
    font-weight: bold;
}

.main-logo img {
    width: 5rem;
}

/*home style*/
.home {
    height: 70vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Ubuntu', sans-serif;
}

@keyframes floating {
    0% {
        margin-top: 3rem;
    }
    25% {
        margin: 0;
    }
    50% {
        margin-top: 1rem;
    }
    100% {
        margin: 0;
    }
}

/*about style*/

.about-title .title::after {
    content: "who i am";
}

.about .main-heading {
    font-size: 4rem;
    font-family: 'Ubuntu', sans-serif;
}

.about .sub-heading {
    font-size: 4rem;
    font-weight: 600;
    font-family: 'Ubuntu', sans-serif;
    margin-bottom: 2rem;
}

.about .sub-text {
    font-size: 3rem;
    font-family: 'Montserrat+Alternates', sans-serif;
}

.about-text {
    font-size: 1.7rem;
}

.about-right .sub-heading {
    font-size: 3rem;
}

.sub-text span {
    color: crimson;
}

/*footer style*/

.footer {
    position: fixed;
    bottom: 0;
    width: 100vw;
    background-color: #E4E2FF;
    padding: 1rem;
    font-size: 1.2rem;
    font-weight: bold;
}

/*services style*/
.services-title .title::after {
    content: "What i provide";
}

.ourservice-text {
    font-size: 1.5rem;
}

.box {
    position: relative;
    height: 15rem;
    background-color: white;
    box-shadow: 0 0 15px 4px rgba(68, 63, 63, 0.30);
    border-radius: 8px;
    animation: floating 2s linear;
}

.box-1:hover {
    background: linear-gradient(90deg, #4b6cb7 0%, #182848 100%);

}

.box-2:hover {
    background: linear-gradient(90deg, #d53369 0%, #daae51 100%);
}

.box-3:hover {
    background: linear-gradient(90deg, #ceaefa 0%, #515ada 100%);
}


.box-4:hover {
    background: linear-gradient(90deg, #fcff9e 0%, #c67700 100%);
}

.box-5:hover {
    background: linear-gradient(90deg, #00d2ff  0%, #3a47d5 100%);
}

.box-6:hover {
    background: linear-gradient(90deg, #9ebd13 0%, #008552 100%);
}
.box-4,.box-5,.box-6{
    height: 25rem;
}
#me {
    border: 4px solid crimson;
    border-radius: 4rem;
    width: 20vw;
    height: 25vw;
}

.box .sub-text {
    color: #d53369;
}

/*projects style*/

.project-title .title::after {
    content: "What i developed";
}

/*contact style*/

.contact-title .title::after {
    content: "get in touch";
}

.contact-left .main-heading {
    font-size: 2rem;
    font-weight: bold;;
}

.contact-left .sub-heading {
    font-size: 1.6rem;
    font-weight: 100;
}

.contact-p {
    font-size: 1.5rem;
}

.contact-sub button {
    background: #d53369;
    padding: 0.8rem 4rem;
    color: white;
    font-size: 1.5rem;
}

.contact-sub button:focus {
    box-shadow: none;
}

/*media queries*/
/*common*/

@media (max-width: 770px) {

    .home-row {
        text-align: center;
    }

    .hero-text .main-heading {
        font-size: 2rem;
    }

    .hero-text .sub-heading {
        font-size: 4rem;
    }

    .hero-text .sub-text {
        font-size: 1.25rem;
    }

    .homefigure {
        padding-top: 7rem;

    }

    .homefigure img {
        width: 50vw;
    }

    .about .row {
        text-align: center;
        padding: 2rem;
    }

    #me {
        width: 50vw;
        height: 35vh;
    }

    .contact {
        text-align: center;
        padding: 2rem;
    }

}

/*home*/
@media (min-width: 770px) {
    .ourservices {
        position: relative;
        top: 75%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

@media (max-width: 913px) {
    .hero-text .main-heading {
        font-size: 2.75rem;
    }

    .hero-text .sub-heading {
        font-size: 5rem;
    }

    .hero-text .sub-text {
        font-size: 2rem;
    }

    .hero-btn {
        padding: 0.7rem 1.4rem;
    }
}

@media (max-width: 440px) {

    .homefigure img {
        width: 80vw;
    }
}

/*about*/
@media (max-width: 1114px) {
    .about-right .sub-heading {
        font-size: 3rem;
    }
}

@media (max-width: 838px) {
    .about-right .sub-heading {
        font-size: 2.5rem;
    }

    .about-right .about-text {
        font-size: 1.5rem;
    }

}

@media (max-width: 375px) {
    #me {
        width: 60vw;
        height: 35vh;
    }
}

