<!doctype html>
<html lang="en">
<head>
    <%- include('../partials/header.ejs') -%>
</head>
<body>
<%- include('../partials/navbar.ejs') -%>
<div class="container-fluid mt-5" id="about">
    <div class="row">
        <div class="col-md-10 col-12 mx-auto about">
            <h1 class="text-center main-heading"> About us</h1>
            <div class="about-title text-center mt-5">
                <h2 class="title"></h2>
            </div>
            <div class="row">
                <!--                left side-->
                <div class="col-md-6 col-12 hero-text left-hero d-flex justify-content-center flex-column">
                    <figure>
                        <img src="images/me.jpeg" alt="Loading..." id="me">
                    </figure>
                </div>
                <!--             right side-->
                <div class="col-md-6 col-12 about-right hero-text right-hero d-flex justify-content-center align-items-start flex-column">
                    <h1 class="sub-heading">My name is Pritpal kaur.</h1>
                    <p class="about-text">Basically am from India but now residing in Canada for studies. I have done
                        BCA and B.Ed .Then I worked as an Computer Network technician for four years. Now am pursuing
                        Software Engineering Technician program in centennial college.I belong to nuclear family. I love
                        to listen music. That's all about myself. Thank you.
                    </p>
                    <a href="resume/PRITPAL KAUR RESUME.pdf">
                        <button class="hero-btn about-btn">Download CV</button>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<%- include('../partials/footer.ejs') -%>

</body>
</html>




