<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/header.ejs') -%>
</head>
<body>
<%- include('../partials/navbar.ejs') -%>
<!-- home section start -->
<%- include('../partials/home.ejs') -%>
<!-- footer section start -->
<%- include('../partials/footer.ejs') -%>
</body>
</html>