<!doctype html>
<html lang="en">
<head>
    <%- include('../partials/header.ejs') -%>

</head>
<body>
<%- include('../partials/navbar.ejs') -%>
<div class="container-fluid mt-5" id="services">
    <div class="row">
        <div class="col-md-10 col-12 mx-auto ">
            <h1 class="text-center main-heading"> our projects</h1>
            <div class="project-title text-center mt-5"><h2 class="title"></h2></div>
            <div class="row g-md-5 ourservices">
                <div class="col-md-4 my-5">
                    <div class="box box-4 text-center pt-5  text-capitalize">
                        <h3 class="sub-text">COVID -19 (Static one)</h3>
                        <p class="ourservice-text">It contains Symptoms ( common and less common). Prevention .
                            Treatment (Home and medical).</p>
                    </div>
                </div>
                <div class="col-md-4 my-5 ">
                    <div class="box box-5 pt-5 text-center text-capitalize">
                        <h3 class="sub-text">Big toys sale</h3>
                        <p class="ourservice-text">I prepared a website named Big toys sale. Which gives the information
                            of different used cars available along with their details including price, model,
                            specifications and features. Interested customers can make their respective bids as
                            well.</p>
                    </div>
                </div>
                <div class="col-md-4 my-5">
                    <div class="box box-6 pt-5 text-center text-capitalize">
                        <h3 class="sub-text"> Student’s Corner</h3>
                        <p class="ourservice-text">I prepared a website in HTML named Student’s Corner. Where students
                            can check the fee structure of college as well as hostels. Can also get information of
                            different clubs and committees which they can join on campus. And also on campus part time
                            job alerts. Recent notices are also available.</p>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<!-- footer section start -->
<%- include('../partials/footer.ejs') -%>
</body>
</html>