<!doctype html>
<html lang="en">
<head>
    <%- include('../partials/header.ejs') -%>

</head>
<body>
<%- include('../partials/navbar.ejs') -%>
<div class="container-fluid mt-5" id="services">
    <div class="row py-3">
        <div class="col-md-10 col-12 mx-auto ">
            <h1 class="text-center main-heading"> our services</h1>
            <div class="services-title text-center mt-5"><h2 class="title"></h2></div>
            <div class="row g-md-5 py-5 ourservices">
                <div class="col-md-4 my-5">
                    <div class="box box-1 pt-5 text-center text-capitalize">
                        <h3 class="sub-text">General programming</h3>
                        <p class="ourservice-text">I provide services in various general-purpose programming languages like C#, C++, Java, JavaScript etc.</p>
                    </div>
                </div>
                <div class="col-md-4 my-5 ">
                    <div class="box box-2 pt-5 text-center text-capitalize">
                        <h3 class="sub-text">web development</h3>
                        <p class="ourservice-text">We build Various websites and portfolios . We also provide service to do maintenance of those websites.</p>
                    </div>
                </div>
                <div class="col-md-4 my-5">
                    <div class="box box-3 pt-5 text-center text-capitalize">
                        <h3 class="sub-text">mobile apps</h3>
                        <p class="ourservice-text">We provide the facility of various mobile apps  ( for any mobile device ) in Android or iOS</p>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<%- include('../partials/footer.ejs') -%>

</body>
</html>