<section class="home">
    <div class="container-fluid mt-5">
        <div class="row">
            <div class="col-md-11 col-12 mx-auto">
                <div class="row home-row">
                    <!--                left side-->
                    <div class="col-md-6 col-12 hero-text left-hero d-flex justify-content-center  flex-column">
                        <h1 class="main-heading">Hello, my name is</h1>
                        <h1 class="sub-heading">Pritpal Kaur</h1>

                        <p class="sub-text">And I'm a <span class="profession"> Student.</span></p>
                        <a href="/about">
                            <button class="hero-btn">know more</button>
                        </a>
                    </div>
                    <!--             right side-->
                    <div class="col-md-6 col-12 hero-text right-hero d-flex justify-content-center  flex-column">
                        <figure class="homefigure">
                            <img src="images/home-img1.png" alt="Loading..." class="houseimg">
                        </figure>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>